.contact-page {
  margin-top: 85px;
  font-family: 'Cabin', sans-serif;
}

.column {
  float: left;
  width: 100%;
  background: #f2f4f7;
}

.row {
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-header {
  font-family: 'Vast Shadow', cursive;
  font-size: 40px;
  margin-bottom: 1%;
  text-align: center;
}

.contact-text {
  font-size: 26px;
  text-align: center;
}

.sub-header {
  font-size: 30px;
  text-align: center;
  font-family: 'Vast Shadow', cursive;
}

.s-text {
  font-size: 26px;
  text-align: center;
}

form {
  max-width: 550px;
  margin: 0 auto 50px;
}

label {
  display: block;
  margin-bottom: 20px;
}

span {
  display: block;
}

.name-field,
.contact-field,
.address-field,
.state-field {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.name-field,
.contact-field,
.address-field,
.state-field,
:nth-child(1) {
  padding-right: 10px;
}

.name-field,
.contact-field,
.address-field,
.state-field,
:nth-child(2) {
  padding-left: 10px;
}

input,
textarea {
  border: 3px solid black;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/* input,
textarea {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
  width: 100%;
  font-size: 20px;
} */

.message-field {
  padding-right: 10px;
  padding-left: 10px;
}

textarea {
  height: 10em;
}

/* textarea {
  height: 4em;
} */

input:focus {
  outline: none;
  border-color: #4f7756;
  /* border-color: #717a73; */
}

input:focus {
  outline: none;
  border-color: #4f7756;
}

textarea:focus {
  outline: none;
  border-color: #4f7756;
  /* border-color: #717a73; */
}

textarea:focus {
  outline: none;
  border-color: #4f7756;
}

.submit {
  /* background: #717a73; */
  background: black;
  color: white;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
  width: 50%;
  /* margin-top: 110px; */
}

.submit:hover {
  background: #4f7756;
  cursor: pointer;
}

.submit-align {
  text-align: center;
}
