.contact-container {
  margin-top: 7%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-header {
  font-family: 'Vast Shadow', cursive;
  font-size: 40px;
  margin-bottom: 2%;
}

.contact-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  background: #f2f4f7;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.contact-p {
  font-family: 'Cabin', sans-serif;
  font-size: 25px;
}

.second-header {
  font-family: 'Cabin', sans-serif;
  font-size: 35px;
}

.c-img {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
}

.c-t-image {
  width: 348px;
  height: 213px;
}

.contact-image {
  background: #f2f4f7;
  padding: 1%;
  width: 44%;
}
