body {
  background-color: #dcdde2;
}

/* navbar */
#navbar {
  background-color: black; 
  padding-top: 7px;
  padding-bottom: 7px; 
}

#navlinks a:hover {
  border-bottom: 3px solid white;
}

#navlinks a:active {
  border-bottom: 3px solid white;
}

.item {
  color: white !important;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  border-bottom: 3px solid transparent;
}

/* home page hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/forest2.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cabin', sans-serif;
  font-size: 50px !important;
  color: white !important;
}

/* home page content */
#photogrid {
  width: 100%;
  display: flex;
  align-content: center;
  margin-top: 2rem;
}

.img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  align-content: center !important;
  width: 200px;
}

.row {
  padding-bottom: 3rem !important;
}

.grid-text {
  margin-left: auto;
  margin-right: auto;
  width: 4em;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

/* footer */

#footer {
  background-color: black;  
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding-top: 7px;
  padding-bottom: 7px;
}

.copyright {
  color: white !important;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  margin-left: -18%;
}
