/* navbar */
#navbar {
  background-color: black; 
  padding-top: 7px;
  padding-bottom: 7px; 
}

#navlinks a:hover {
  border-bottom: 3px solid white;
}

#navlinks a:active {
  border-bottom: 3px solid white;
}

.item {
  color: white !important;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  border-bottom: 3px solid transparent;
}
/* hero */
.hero-image-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/wood.jpg");
  /* height: 55%; */
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cabin', sans-serif;
  font-size: 58px !important;
  color: white !important;
}

/* services content */

.blurb-text {
  font-family: 'Cabin', sans-serif !important;
  font-size: 22px;
  color: black;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: 'Cabin', sans-serif !important;
  font-size: 25px !important;
  font-weight: bold;
}

.s-p {
  /* font-family: 'Noto Serif SC', serif !important; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#service-container {
  margin-top: 2%;
}

.column {
  /* float: left; */
  width: 100%;
}

.row {
  width: 100%;
}

.service-d {
  background: #f2f4f7;
  padding: 3%;
}

#last-s {
  margin-bottom: 1rem !important;
}

#footer {
  margin-right: -3%;
  margin-left: -1%;
}

.fa-phone {
  transform: rotate(90deg);
}
